{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>TRM-IPSAISL5</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        table{
          align-items: center;
        }
        th{
          padding: 1ch;
          background-color: bisque;
        }
        button{
          padding: 1cm ;
        }
        .trm_list{
        padding: 1in;
        border: 1ch;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
</head>
<body>
  <h1 style="text-align: center;"> FRC TRM </h1>
    
    <div class="Table">
    <table>
      <thead>
        <th>SL No.</th>
        <th>Economic Code</th>
        <th>Particulars</th>
        <th>Budget (Type)</th>
      </thead>
      <tbody>
        <form method='post' action="{% url 'budget' %}">
          {% csrf_token %}        
          <td id="serial">{{form.serial}}</td>
          <td id="economiccode">{{form.economiccode}}</td>
          <td id="particulars">
            <select id="particulars" name="particulars">
              <option value="">All</option>
              {% for value in BACS %}  
                <option value="{{ value }}">{{ value }}</option>
              {% endfor %}
            </select>
          </td>
          <td id="account_type">
            <select id="account_type" name="account_type">
              <option value="">All</option>
              {% for value in type %}  
                <option value="{{ value }}">{{ value }}</option>
              {% endfor %}
            </select>
          </td>
          <input type="submit" value="submit">
        </form>
        {{ budget_list | safe }}
      </tbody>
      </table>
  </div>
  <div>
    <button> TAM </button>
  </div>
  <div>
    <form action="{% url 'budget' %}">
    <button> Budget </button>
  </form>
  </div>
</body>
</html>
