{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>TRM-IPSAISL5</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        table{
          align-items: center;
        }
        th{
          padding: 1ch;
          background-color: bisque;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
</head>
<body>
  <h1 style="text-align: center;"> FRC TRM </h1>
    
    <div class="Table">
    <table>
      <thead>
        <th>SL No.</th>
        <th>Economic Code</th>
        <th>Particulars</th>
        <th>Units</th>
        <th>Amount</th>
      </thead>
      <tbody>
        
      <td>{{form.serial}}</td>
      <td>{{form.economiccode}}</td>
      <td><select id="dropdown_name" name="dropdown_name">
        <option value="">All</option>
        {% for value in BACS %}  <option value="{{ value }}">{{ value }}</option>
        {% endfor %}
      </select></td>
      <td>{{form.unit}}</td>
      <td>{{form.amount}}</td>

      </tbody>
    </table>
  </div>
</body>
</html>
