{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>TRM-IPSAISL5</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        table{
          align-items: center;
        }
        th{
          padding: 1ch;
          background-color: bisque;
        }
        button{
          padding: 1cm ;
        }
        .trm_list{
        padding: 1in;
        border: 1ch;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
</head>
<body>
  <h1 style="text-align: center;"> FRC TRM </h1>
    
    <div class="Table">
    <table>
      <thead>
        <th>SL No.</th>
        <th>Economic Code</th>
        <th>Particulars</th>
        <th>Units</th>
        <th>Amount</th>
      </thead>
      <tbody>
        <form method="GET" action="{% url 'processing' %}">
          {% csrf_token %}        
          <td id="serial">{{form.serial}}</td>
          <td id="economiccode">{{form.economiccode}}</td>
          <td id="particulars">
            <select id="particulars" name="particulars">
              <option value="">All</option>
              {% for value in BACS %}  
                <option value="{{ value }}">{{ value }}</option>
              {% endfor %}
            </select>
          </td>
          <td id="unit">{{form.unit}}</td>
          <td id="amount">{{form.amount}}</td>
          <input type="submit" value="submit">
        </form>
        
      </tbody>
      </table>
      <div class="trm_list" style="text-align: center; padding: 1cm;">
        <table>
        {{ trm_list | safe }}
        <form method='GET'action="{% url 'trmapproval' %}">
        <button style="background-color: green; color: white;"> Submit for Approval</button>
      </form>
      </table>
      </div>
  </div>
  <div>
    <form action="{% url 'tam' %}">
    <button> TAM </button>
  </form>
  </div>
</body>
</html>
